.modal-header {
    background-color:rgb(33, 37, 41);
    color: white;
}
.modal-body {
    background-color:rgb(33, 37, 41);
    color: white;
}
.duration {
    color: #fd5252;
    margin: 0 .5rem 0 .5rem;
}
.username-control {
    color: black;
}
.form-btns {
    margin-top: 1rem;
}
.form-btn {
    margin-right: .25rem;
}
.form-btn-icon {
    margin-left: .25rem;
}