.frame {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10em;
}
.waldo-image {
    height: 100%;
    width: auto;
}
.welcome-message {
    text-indent: 4em;
}