.map-choice-card {
    background-color: rgb(33, 37, 41);
    padding: 1rem;
    margin-top: .5rem;
}
.map-choice-card:hover {
    border: 3px solid rgb(13, 110, 253);
}
.map-choice-image {
    width: auto;
    max-height: 50vh;
}
.btn-game-choice {
    width: 5em;
}
.card-header-text-container {
    background-color: #fd5252;
}
.card-header-text {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 600px) {
    .map-choice-image {
        max-height: 30vh;
    }
}