.map-choice-card:hover {
    border: 1px solid #fd5252;
}
.map-choice-image {
    width: auto;
    max-height: 50vh;
}
.btn-game-choice {
    width: 5em;
}
.card-header-text-container {
    background-color: #fd5252;
}
.card-header-text {
    text-decoration: none;
    color: black;
}