.choices {
    position: absolute;
    z-index: 4;
    padding: 1rem;
    background-color: rgb(33, 37, 41);
    border-radius: .25rem;
}
.choices:hover {
    cursor: default;
}
.character-choice-label {
    color: white;
}
.choice-header {
    color: white;
}
.btn-base {
    background-color: #fd5252;
    border: none;
}
.btn-choice {
    margin-bottom: .25rem;
}
.validating-message {
    color: white;
}
.valid-icon-container {
    border-radius: 50%;
    border: 3px solid green;
}
.invalid-icon-container {
    border-radius: 50%;
    border: 3px solid red;
}
.validating-icon {
    position: absolute;
    right: 3rem;
    bottom: .7rem;
}