.character-card-container {
    background-color: rgb(33, 37, 41);
    border: none;
}
.character-card {
    background-color: rgb(33, 37, 41);
    border: none;
    color: white;
}
.character-image {
    height: 5em;
    width: auto;
}