.character-card-container {
    background-color: rgb(33, 37, 41);
    border: none;
}
.character-card {
    background-color: rgb(33, 37, 41);
    border: none;
    color: white;
}
.character-name {
    background-color: rgb(33, 37, 41);
    font-size: 1rem;
}
.character-image {
    height: 3rem;
    margin-top: 1rem;
    width: auto;
}

@media screen and (max-width: 600px) {
    .character-image {
        height: 1rem;
    }
}