.gold {
    background-color: #FFD700 !important;
    font-size: 2em;
}
.silver {
    background-color: #C0C0C0 !important;
    font-size: 1.5em;
}
.bronze {
    background-color: #CD7F32 !important;
    font-size: 1.25em;
}
.other {
    background-color: #fd5252 !important;
}